.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.primary {
  border-color: var(--color-button-primary-border);
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-bg);

  &:hover {
    border-color: var(--color-button-primary-hover-border);
    color: var(--color-button-primary-hover-text);
    background-color: var(--color-button-primary-hover-bg);
  }
}

.secondary {
  border: 1px solid;
  border-color: var(--color-button-alt-border);
  color: var(--color-button-alt-text);
  background-color: var(--color-button-alt-bg);

  &:hover {
    border-color: var(--color-button-alt-hover-border);
    color: var(--color-button-alt-hover-text);
    background-color: var(--color-button-alt-hover-bg);
  }
}
