.header {
  background-color: var(--background-color-header);
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.1),inset 0 -.005rem 0 0 rgba(0,0,0,.2);
  height: 80px;
  padding: 2.5px 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 50px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-left: 10px;
}

.navigation a {
  padding: 0 12px;
  line-height: 64px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 245, .86);
  transition: color .25s;
  text-decoration: none;
}

.navigation a:hover {
  color: #9499ff;
}
